.container {
    /*Organiza a los elementos en forma de grilla*/
    display: grid;
    /*Define las columnas, es decir habra 3 columnas */
    grid-template-columns: 140px 140px 140px 140px;
    /*Espacio que existe entre elemtos*/
    grid-gap: 10px;
}

.elem {
    background-color: palegoldenrod;
}

#pin04 {}