/*CSS GENERAL DE ELEMENTOS*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #222;
    color: white;
    font: 200 14px "Poppins", sans-serif;
}

section {
    /*css padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;*/
    padding: 10px 100px 10px 100px;
}

nav {
    background-color: #222;
    border-bottom: 1px solid #e0a211;
    position: fixed;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
    line-height: 36px;
}

h3 {
    color: #999;
    font-size: 18px;
    font-weight: 280px;
}

p {
    text-align: justify;
}

cite {
    font-weight: 300;
}

i {
    font-size: 24px;
}

.masinfo button {
    background-color: #e0a211;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    padding: 5px;
}


/*PSEUDOCLASE I*/

i:hover {
    color: #e0a211
}


/*DENTRO DE NAV*/

nav ul {
    display: inline-block;
}

nav ul li {
    padding-top: 12px;
}


/*GENERICO A*/


/*elimina el subrayado en todas las etiquetas a*/

a {
    text-decoration: none;
}


/*pseudoclases*/

a:any-link {
    color: white;
}

a:-webkit-any-link {
    color: white;
}

a:-moz-any-link {
    color: white;
}

a:hover {
    color: #e0a211;
}

ul {
    list-style: none;
}

li {
    float: left;
    /*width: 30px;*/
    margin-right: 5px;
}

button {
    border-radius: 10px;
}


/* .CLASS */

.hastag {
    color: #e0a211
}


/*ID'S*/

#experiencia {
    background-color: white;
    color: #222;
}

#porfolio {
    border-top: 1px solid #e0a211;
}

#inicio {
    padding-top: 75px;
    background-image: url(../img/inicio.png);
    min-height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    padding-top: 0px;
}

#redes {
    margin-top: 20px;
}


/* grid sobremi*/

#sobremi {
    display: grid;
    grid-template-columns: 250px 1fr;
}


/*card portfolio*/


/* Flex.........................*/

.filaportfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.card {
    width: 250px;
    background-color: #191919;
    border-radius: 15px;
}

.card img {
    border-radius: 15px 15px 0px 0px;
}

.card h3 {
    color: #e0a211;
}

.card h4 {
    margin: 0 5px 5px 0;
}

.card h3,
.card h4,
.card p,
.card .masinfo {
    padding: 0 15px;
}

.card .masinfo {
    margin: 15px 0px 15px 0px;
    height: 26px;
}

.card .masinfo button {
    float: right;
}

.card .sep {
    margin: 0px 5px 5px 0px;
    border: 1px solid #e0a211;
}

.card button {
    margin-top: 5px;
    padding: 5px;
}